/* Underlining the Navbar Light Mode*/

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: inherit;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(139, 92, 246);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation:focus:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation:hover {
    color: rgb(139, 92, 246) !important;
    transition: transform 0.5s ease-out;
    transform-origin: left;
}

/* Underlining the Navbar Dark Mode*/

.hover-underline-darkimation {
    display: inline-block;
    position: relative;
    color: inherit;
}

.hover-underline-darkimation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(139, 92, 246);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-darkimation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-darkimation:focus:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation:hover {
    color: rgb(255, 255, 255);
    transition: transform 0.5s ease-out;
    transform-origin: left;
}

/*  Bubble Animation */